.navbar {
  background-color: #7c88ac;
}

.navbar h3 {
  display: inline-block;
  text-align: center;
  padding: 5px;
  color: black;
  text-decoration: none;
}

.navbar a {
  display: inline-block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.page-info {
  padding: 10px;
}

