#archname {
    color: #000;
    border: 1.5px solid black; 
    padding: 1px;
    background-color: #ffffff; 

    
}
#features {
    color: #000;
    border: 1.5px solid black; 
    padding: 1px;
    background-color: #ffffff; 
}
#modelName {
    color: #000;
    border: 1.5px solid black; 
    padding: 1px;
    background-color: #ffffff; 
}
#numOfProcessor {
    color: #000;
    border: 1.5px solid black; 
    padding: 1px;
    background-color: #ffffff; 
}
#capacity1 {
    color: #000;
    border: 1.5px solid black; 
    padding: 1px;
    background-color: #ffffff; 
}
#capacity2 {
    color: #000;
    border: 1.5px solid black; 
    padding: 1px;
    background-color: #ffffff; 
}
#capacity3 {
    color: #000;
    border: 1.5px solid black; 
    padding: 1px;
    background-color: #ffffff; 
}
#capacity4 {
    color: #000;
    border: 1.5px solid black; 
    padding: 1px;
    background-color: #ffffff; 
}
#capacity {
    color: #000;
    border: 1.5px solid black; 
    padding: 1px;
    background-color: #ffffff; }
#availableCapacity {
    color: #000;
    border: 1.5px solid black; 
    padding: 1px;
    background-color: #ffffff; }
#height {
    color: #000;
    border: 1.5px solid black; 
    padding: 1px;
    background-color: #ffffff; }
    #width {
        color: #000;
        border: 1.5px solid black; 
        padding: 1px;
        background-color: #ffffff;
}
tbody tr{
    font-size: 13px;
    padding-top: 2px;
}