#archname {
    color: #000;
    border: 1.5px solid black; 
    padding: 1px;

    
}
#features {
    color: #000;
    border: 1.5px solid black; 
    padding: 1px;
}
#modelName {
    color: #000;
    border: 1.5px solid black; 
    padding: 1px;
}
#numOfProcessor {
    color: #000;
    border: 1.5px solid black; 
    padding: 1px;
}
#capacity1 {
    color: #000;
    border: 1.5px solid black; 
    padding: 1px;
}
#capacity2 {
    color: #000;
    border: 1.5px solid black; 
    padding: 1px;
}
#capacity3 {
    color: #000;
    border: 1.5px solid black; 
    padding: 1px;
}
#capacity4 {
    color: #000;
    border: 1.5px solid black; 
    padding: 1px;
}
#capacity {
    color: #000;
    border: 1.5px solid black; 
    padding: 1px;
}
#availableCapacity {
    color: #000;
    border: 1.5px solid black; 
    padding: 1px;
}
#height {
    color: #000;
    border: 1.5px solid black; 
    padding: 1px;
     }
    #width {
        color: #000;
        font-size: 15px;
        font-weight:bolder;
        border: 1.5px solid rgb(255, 255, 255); 
        padding: 1px;
        
}
tbody tr{
    font-size: 13px;
    
}